{% extends 'layout.html.twig' %}
{% set active = 'about_us' %}

{# title #}
{% block title %}About Us{% endblock %}

{# keywords #}
{% block keywords %}vps hosting, web hosting, dedicated server, inmotion hosting, inmotion, virtual private server, cpanel hosting{% endblock %}

{# description #}
{% block description %}About InMotion Hosting. Web hosting that is fast, reliable and affordable from a company that exceeds your customer support needs.{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>About Us</h1>
    </div>
    <div class="span3">
        <img alt="gears" class="banner-img" src="../../img/gears-plain.png" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap ab">
    <div class="row">
        <div class="span4 gutter-spillover">
            <img src="../../img/about-1.jpg" class="img-polaroid" alt="group collaboration" />
            <div class="quote">"Our goal is to thrill every customer, difficult or not, with our expertise, professionalism, availability and honest desire to see them succeed."</div><p class="text-indent">Todd Robinson, President</p>
        </div>
        <div class="span7">
            <h4>Humans! We've got 'em.</h4>
            <p>While InMotion Hosting has awesome hardware, our true talent comes from our associates. Our team of web hosting experts average 4 years of professional hosting experience. On top of that, all our support staff undergoes a rigorous internal training program – no support associate can man our chat, phone or support emails unless they have at least 160 hours of internal training on subjects such as the LAMP stack, email clients, Cento and everything in between.  If that’s not enough, our management team is composed of technology experts who average 10+ years of web hosting expertise. That is some serious street cred. We also strive to keep our associates happy through team outings, free lunches, annual picnics and more – because we know a happy associate is more likely to treat a customer well.</p><p>If you live in the greater Los Angeles, CA or Virginia Beach, VA areas and are looking to make an awesome career change - whether in marketing, human resources, systems administration or something else, be sure to check out our open positions on our employment <a href="http://www.inmotionhosting.com/blog/">blog</a>. Also, don’t forget to look at all the pretty pictures above – those are our office spaces!</p>
            <h4>Fast, Reliable and Affordable Hosting</h4>
            <p>Our web hosting network is based on the fast and reliable Linux and Unix operating systems. It is monitored 24/7 for any unusual activity and benchmarked continuously for performance. This allows us to immediately respond to short-term issues as well as to grow our system optimally - keeping it broadband ready, economical and fully redundant at all times. Staying true to this technology and concept has allowed us to offer domain name registration and web hosting that consistently outperforms our competitors - in reliability, speed, and economy. InMotion is also the only hosting company to offer <a href="{{ app.request.basepath }}/fast-web-hosting">Max Speed Zones</a>.</p>
            <h4>InMotion Hosting Data Centers</h4>
            <p>Our fully redundant (N+1), climate controlled data centers on both coasts offer our customers reliability they can count on. InMotion Hosting also just invested in brand new expansions and improvements to both data centers that included upgrades to our own carrier level platforms as well as consulting on our business partner’s improvements so that they better suit our needs. We have four Tier 1 ISP providers at all times – that means even if something catastrophic happened (think major natural disaster), we would have multiple backups to keep your data flowing. We also upgraded our own routers to carrier grade level for maximum efficiency. Our data centers are some of the most secure places on earth with armed guards, hand scanners and locked vaults – just like stuff you see in sci-fi movies.</p>
            <p>Our background is business and technology - and we are always looking for new software, hardware and methods to compliment our existing tools. It is a not just a matter of business but a matter of pride to our experienced staff. In fact, we have several times taken suggestions from customers and after formal evaluation, added the functionality to all of our servers.</p>
            <h4>Award Winning Support</h4>
            <p>We have broken and fixed just about everything web site hosting related that can be broken and fixed. Combining this knowledge with friendly staff and responsive management yields our <a href="{{ app.request.basepath }}/partners-and-awards">top rated</a> tech support team.</p><p>Rest assured, we will always take the time to completely answer your questions - 24 hours a day, 7 days a week. We have even put together some of the best information for building, maintaining and growing your web site at our <a href="{{ app.request.basepath }}/support">Web Hosting Support Center</a>.</p>
            <h4>90 Day Money Back Guarantee</h4>
            <img src="../../img/logo-bbb-cnet-color.png" class="indentit pull-right" alt="bbb and cnet logos" />
            <p>We stand by all our claims and invite you to try us out with no obligation. If we don’t live up to what you expect, we offer a no questions asked 90-day money back guarantee. We really want you to be happy. Seriously. We are 100% transparent about this – please check out the legal terms <a href="{{ app.request.basepath }}/terms-of-service">here</a>.</p>
            <ul class="linkstring">
                <li><a href="{{ app.request.basepath }}/guarantee">Guarantee Details</a></li>
                <li><a href="{{ app.request.basepath }}/privacy-policy">Policies</a></li>
                <li><a href="{{ app.request.basepath }}/testimonials">Customer Testimonials</a></li>
                <li><a href="{{ app.request.basepath }}/terms-of-service">Beware of Coupons</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pattern wrap">
    <div class="container">
        <div class="well">
<!-- carousel start -->
            <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item">
                        <img src="../../img/about/lg-1.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-2.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-3.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-4.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-5.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-6.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-7.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-8.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-9.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>West Coast Office - Los Angeles, CA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-10.jpg" alt="east coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-11.jpg" alt="east coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-12.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-13.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-14.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../../img/about/lg-15.jpg" alt="west coast office">
                        <div class="carousel-caption">
                          <h4>East Coast Office - Virgina Beach, VA</h4>
                          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit.</p>
                        </div>
                    </div>
                  </div>
            <!-- Carousel nav -->
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
<!-- carousel end -->
        </div>
    </div>
</div>
{% endblock %}