{% extends 'layout.html.twig' %}
{% set active = 'contact' %}

{# title #}
{% block title %}Contact Us{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}Contact InMotion Hosting support, web hosting sales, billing, custom web design, employment, business development, affiliate program and customer resolution.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span12">
        <h1>Contact Us</h1>
    </div>
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row-fluid island sunken {{ active }}">
            <div class="span4">
                <div class="fence-right">
                    <h2>West Coast</h2>
                    <div itemscope itemtype="schema.org/LocalBusiness" class="raised {{ active }}">
                        <div itemscope itemtype="http://schema.org/PostalAddress" class="clearfix">
                            <a href="http://maps.google.com/maps?q=6100+Center+Drive,+Los+Angeles,+CA+90045&hl=en&sll=33.98346,-118.432557&sspn=0.011014,0.013583&oq=6100+Center+Drive+Los+Angeles,+CA+90045&hnear=6100+Center+Dr,+Los+Angeles,+California+90045&t=m&z=16" itemprop="map" class="pull-left map">View Map</a>
                            <div class="pull-right postal-address">
                                <span itemprop="streetAddress">6100 Center Drive, Suite 1190</span>
                                <span itemprop="addressLocality">Los Angeles</span>,
                                <span itemprop="addressRegion">CA</span>
                                <span itemprop="postalCode">90045</span>
                                <span itemprop="telephone">888-321-HOST(4678)</span>
                            </div>
                        </div>
                        <div class="postal-stripes"></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="fence-right">
                    <h2>East Coast</h2>
                    <div itemscope itemtype="schema.org/LocalBusiness" class="raised {{ active }}">
                        <div itemscope itemtype="http://schema.org/PostalAddress" class="clearfix">
                            <a href="http://maps.google.com/maps?q=3629+Sentara+Way,+Virginia+Beach,+VA+23452&hl=en&sll=37.0625,-95.677068&sspn=40.681389,55.634766&vpsrc=0&t=m&z=16" itemprop="map" class="pull-left map">View Map</a>
                            <div class="pull-right postal-address">
                                <span itemprop="streetAddress">3629 Sentara Way</span><br />
                                <span itemprop="addressLocality">Virginia Beach</span>,
                                <span itemprop="addressRegion">VA</span>
                                <span itemprop="postalCode">23452</span>
                                <span itemprop="telephone">757-416-6575</span>
                            </div>
                        </div>
                        <div class="postal-stripes"></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div>
                    <h4><i class="icon-mail"></i> Notice</h4>
                    <p>Please send all postal correspondence to our West Coast location. Thanks!</p>
                </div>
            </div>
        </div>
        <div class="row-fluid {{ active }}">
            <div class="span6 department-details">
                <h3 class="{{ active }}">Support</h3>
                <div class="row-fluid sunken">
                    <ul class="span6 nav contact-details">
                        <li>888-321-4678 x2 or</li>
                        <li>757-416-6575 x2</li>
                        <li><a href="mailto:support@inmotionhosting.com">support@inmotionhosting.com</a></li>
                    </ul>
                    <ul class="span6 nav contact-details">
                        <li>Hours</li>
                        <li>24 x 7 x 365 Live Support</li>
                    </ul>
                </div>
                <p>Featuring true 24/7/365 Technical Support. Our Support Center contains over 3,000 support documents!</p>
                <a class="btn btn-primary" href="http://www.inmotionhosting.com/support/">Support Center</a>
            </div>
            <div class="span6 department-details">
                <h3 class="{{ active }}">Sales</h3>
                <div class="row-fluid sunken">
                    <ul class="span6 nav contact-details">
                        <li>888-321-4678 x1 or</li>
                        <li>757-416-6575 x1</li>
                        <li><a href="mailto:sales@inmotionhosting.com">sales@inmotionhosting.com</a></li>
                    </ul>
                    <ul class="span6 nav contact-details">
                        <li>Hours</li>
                        <li>Mon - Fri 8am - Midnight EST</li>
                        <li>Sat-Sun 10am - 9pm EST</li>
                    </ul>
                </div>
                <p>If you are currently working with a salesperson, please contact them directly.</p>
                <a class="btn btn-primary" href="#">Launch Chat</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 department-details">
                <h3 class="{{ active }}">Account + Billing</h3>
                <div class="row-fluid sunken">
                    <ul class="span6 nav contact-details">
                        <li>888-321-4678 x4 or</li>
                        <li>757-416-6575 x4</li>
                        <li><a href="mailto:billing@inmotionhosting.com">billing@inmotionhosting.com</a></li>
                    </ul>
                    <ul class="span6 nav contact-details">
                        <li>Hours</li>
                        <li>Mon - Fri 8am - 11pm EST</li>
                        <li>Sat-Sun 10am - 7pm EST</li>
                    </ul>
                </div>
                <p>To upgrade or cancel you must be listed as the account contact.</p>
                <a class="btn btn-primary" href="https://secure1.inmotionhosting.com/">AMP Login</a>
            </div>
            <div class="span6 department-details">
                <h3 class="{{ active }}">Web Design Services</h3>
                <div class="row-fluid sunken">
                    <ul class="span6 nav contact-details">
                        <li>888-321-4678 x1</li>
                        <li><a href="mailto:updates@yourweblayout.com">updates@yourweblayout.com</a></li>
                    </ul>
                    <ul class="span6 nav contact-details">
                        <li>Hours</li>
                        <li>Mon - Fri 9am - 6pm EST</li>
                        <li>Sat-Sun Closed</li>
                    </ul>
                </div>
                <p>Contact us via our email address up above with any website update requests or help.</p>
                <a class="btn btn-primary" href="#">Launch Chat</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 department-details">
                <h3 class="{{ active }}">Employment</h3>
                <p>Come work with one of the best hosting companies in the country. Located in Los Angeles, CA and Virginia Beach, VA. We’re fun, cutting edge, and growing on a daily basis.</p>
                <a href="http://www.inmotionhosting.com/employment" class="btn btn-primary">View Open Positions</a>
            </div>
            <div class="span6 department-details">
                <h3 class="{{ active }}">Business Development</h3>
                <p>Contact us via the phone or email below for any questions, comments, or concerns regarding business development.</p>
                <p>757-559-1464 or <a href="mailto:partners@inmotionhosting.com">partners@inmotionhosting.com</a></p>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 department-details">
                <h3 class="{{ active }}">Affiliate Program + Marketing Alliances</h3>
                <p>Come work with one of the best hosting companies in the country. Located in Los Angeles, CA and Virginia Beach, VA. We’re fun, cutting edge, and growing on a daily basis.</p>
                <a href="#" class="btn btn-primary">Affiliate Program Info</a>
            </div>
            <div class="span6 department-details">
                <h3 class="{{ active }}">Platform Development</h3>
                <p>Our full time development staff is always looking to extend the capabilities of our platform. Your input and needs drive our company.</p>
                <a href="devel@inmotionhosting.com">devel@inmotionhosting.com</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 department-details">
                <h3 class="{{ active }}">Customer Resolution</h3>
                <p>We are very proud of the quality of service we provide. Please do not hesitate to contact us if your questions or issues were not resolved to your satisfaction. Remember to include your domain name.</p>
                <a href="mailto:quality@inmotionhosting.com">quality@inmotionhosting.com</a>
            </div>
            <div class="span6 department-details">
                <h3 class="{{ active }}">Newsletter</h3>
                <p>We are very proud of the quality of service we provide. Please do not hesitate to contact us if your questions or issues were not resolved to your satisfaction. Remember to include your domain name.</p>
                <a href="mailto:quality@inmotionhosting.com">quality@inmotionhosting.com</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
