<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %} | InMotion Hosting</title>

    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/styles.css">

    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'tkh8ukm',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>

    <script src="{{ app.request.basepath }}/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    {% set active = active|default(null) %}
    <div id="skip">
        <a href="#main">Skip to Main Content</a>
        <a href="#nav">Skip to Navigation</a>
    </div>
    <header role="banner">
        <div class="container">
            <div class="row">
                <a href="{{ path('homepage') }}" class="span3"><img src="{{ app.request.basepath }}/img/logo-imh.png" alt="InMotion Hosting" /></a>
                <div class="span5 offset4">
                    <ul class="nav nav-pills nav-pills-contact">
                        <li><a href="https://chatwithourteam.com/licence/1001/open_chat.cgi?lang=ei&params=IMH%20IMH%20IMH%20-%20INMOTION%20HOSTING%20-%20IMH%20IMH%20IMH&groups=0"><i class="icon-chat"></i> Live Chat</a></li>
                        <li class="nav-pills-no-link"><i class="icon-phone"></i> 888.321.HOST</li>
                        <li><a href="http://andrewn.imh.imhlabs.net/index/login?force_version=b" class="btn btn-primary">AMP Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav id="nav" class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li class="dropdown{% if (active in ['business_hosting', 'dedicated_servers', 'vps_hosting', 'cheap_hosting']) %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Web Hosting</a>
                        <ul class="dropdown-menu">
                        <li {% if 'business_hosting' == active %}class="active"{% endif %}><a href="{{ path('business_hosting') }}">Business Hosting</a></li>
                        <li {% if 'vps_hosting' == active %}class="active"{% endif %}><a href="{{ path('vps_hosting') }}">VPS Hosting</a></li>
                        <li {% if 'dedicated_servers' == active %}class="active"{% endif %}><a href="{{ path('dedicated_servers') }}">Dedicated Servers</a></li>
                        </ul>
                    </li><!-- /.dropdown -->
                    <li {% if 'domains' == active %}class="active"{% endif %}><a href="{{ path('domains') }}">Domains</a></li>
                    <li {% if 'webdesign' == active %}class="active"{% endif %}><a href="{{ path('webdesign') }}">Web Design</a></li>
                    <li {% if 'site_hosting_tools' == active %}class="active"{% endif %}><a href="{{ path('site_hosting_tools') }}">Site Hosting Tools</a></li>
                    <li class="dropdown{% if 'account' == active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meet Us</a>
                        <ul class="dropdown-menu">
                        <li {% if 'meet_us' == active %}class="active"{% endif %}><a href="{{ path('meet_us') }}">Meet Us</a></li>
                        <li {% if 'about_us' == active %}class="active"{% endif %}><a href="{{ path('about_us') }}">About Us</a></li>
                        <li><a href="{{ app.request.basepath }}/partners-and-awards">Awards &amp; Partners</a></li>
                        <li><a href="http://www.inmotionhosting.com/blog">Blog</a></li>
                        <li><a href="http://www.inmotionhosting.com/employment">We're Hiring</a></li>
                        <li {% if 'contact' == active %}class="active"{% endif %}><a href="{{ path('contact') }}">Contact Us</a></li>
                        </ul>
                    </li><!-- /.dropdown -->
                    <li><a href="http://www.inmotionhosting.com/support">Support Center</a></li>
                </ul><!-- /.nav -->
            </div>
        </div>
    </nav>
    <div id="main" role="main">
        <div class="intro wrap {{ active|e }}">
            <div class="container">
                {# intro #}
                {% block intro %}
                {% endblock %}
            </div>
        </div><!-- /.intro -->
            {# content #}
            {% block content %}
            {% endblock %}
    </div><!-- /#main -->
    {# pre-footer sales area #}
    {% if not (active in ['business_hosting', 'homepage', 'dedicated_servers', 'vps_hosting', 'cheap_hosting', 'web_design','privacy_policy','terms_of_service','about_us','sitemap','testimonials', 'contact','hosting_affiliate_program','link_to_us','partners_and_awards'])  %}
        {% include 'common/select_hosting_package.html.twig' %}
    {% endif %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="{{ app.request.basepath }}/assets/js/scripts.js"></script>
    <span class="{% if (active in ['homepage','web_design','privacy_policy','terms_of_service','sitemap','testimonials', 'contact','link_to_us','partners_and_awards']) %} solo-gears {% endif %}"></span>
    <footer role="contentinfo" class="wrap">
        <div class="container">
            <ul class="nav nav-list span2">
                <li class="nav-header">Web Hosting</li>
                <li><a href="{{ app.request.basepath }}/cheap-hosting">Cheap Hosting</a></li>
                <li><a href="{{ path('business_hosting') }}">Business Class Hosting</a></li>
                <li><a href="{{ path('vps_hosting') }}">VPS Hosting</a></li>
                <li><a href="{{ path('dedicated_servers') }}">Dedicated Servers</a></li>
                <li><a href="{{ path('domains') }}">Domain Names</a></li>
                <li><a href="{{ path('webdesign') }}">Web Design</a></li>
            </ul>
            <ul class="nav nav-list span2">
                <li class="nav-header">Hosting Tools</li>
                <li><a href="{{ app.request.basepath }}/wordpress-hosting">WordPress Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/joomla-hosting">Joomla Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/drupal-hosting">Drupal Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/host-with-cpanel">cPanel Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/prestashop-hosting">PrestaShop Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/moodle-hosting">Moodle Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/opencart-hosting">OpenCart Hosting</a><li>
                </ul>
            <ul class="nav nav-list span2">
                <li class="nav-header">Community</li>
                <li><a href="http://www.inmotionhosting.com/support">Support Center</a></li>
                <li><a href="{{ path('hosting_affiliate_program') }}">Host Affiliate</a></li>
                <li><a href="http://www.inmotionhosting.com/blog/category/infographics">Infographics</a></li>
                <li><a href="http://www.inmotionhosting.com/los-angeles-web-hosting.html">Los Angeles Hosting</a></li>
                <li><a href="{{ path('meet_us_gogreen') }}">Green Web Hosting</a></li>
                <li><a href="http://www.inmotionhosting.com/edu">Student Web Hosting</a></li>
            </ul>
            <ul class="nav nav-list span2">
                <li class="nav-header">About Us</li>
                <li><a href="{{ app.request.basepath }}/terms-of-service">Terms of Service</a></li>
                <li><a href="{{ app.request.basepath }}/privacy-policy">Privacy Policy</a></li>
                <li><a href="http://www.inmotionhosting.com/blog">Blog</a></li>
                <li><a href="{{ app.request.basepath }}/link-to-us">Link to Us</a></li>
                <li><a href="http://www.inmotionhosting.com/employment">We're Hiring</a></li>
                <li><a href="{{ app.request.basepath }}/sitemap">Site Map</a></li>
            </ul>
        <div class="span3">
            <ul class="ft-iconlist">
                <li>Stay in touch on</li>
                <li><a href="https://plus.google.com/+inmotionhosting/posts"><img src="{{ app.request.basepath }}/img/icon-google.png" alt="google+" ></a></li>
                <li><a href="https://twitter.com/inmotionhosting"><img src="{{ app.request.basepath }}/img/icon-twitter.png" alt="twitter"></a></li>
                <li><a href="https://www.facebook.com/inmotionhosting"><img src="{{ app.request.basepath }}/img/icon-facebook.png" alt="facebook"></a></li>
            </ul>
        </div>
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            <span class="ft-logo pull-right"> <a href="{{ path('homepage') }}"><img src="{{ app.request.basepath }}/img/footer-logo.png" alt="InMotion Hosting"></a></span>
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">6100 Center Drive, Suite 1190</span><br />
            <span itemprop="addressLocality" class="city">Los Angeles</span>, <span itemprop="addressRegion" class="state">CA</span> <span itemprop="postalCode" class="postalcode">90045</span><br />
            <span itemprop="telephone">888-321-HOST(4678)</span><br />
            <span>2012 &copy; All Rights Reserved</span></p>
        </div>
        </div>
    </div>
    </footer>
</body>
</html>
