{% extends 'layout.html.twig' %}
{% set active = 'sitemap' %}

{# title #}
{% block title %}Web Hosting Site Map{% endblock %}

{# keywords #}
{% block keywords %}inmotion hosting sitemap, vps hosting, web hosting, dedicated server, inmotion hosting, inmotion, virtual private server, cpanel hosting{% endblock %}

{# description #}
{% block description %}Find web hosting packages and view all products with InMotion Hosting's site map.{% endblock %}

{# intro #}
{% block intro %}
<div class="row">
    <div class="span9">
        <h1>Sitemap</h1>
    </div>
    <div class="span3">
        <img alt="gears" class="banner-img" src="../../img/gears-plain.png" />
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container wrap">
    <div class="row">
        <div class="span3">
            <h2>Our Company</h2>
            <ul>
                <li><a href="{{ app.request.basepath }}/about-us">About Us</a></li>
                <li><a href="{{ app.request.basepath }}/meet-us">Meet Us</a></li>
                <li><a href="{{ app.request.basepath }}/partners-and-awards">Partners &amp; Awards</a></li>
                <li><a href="{{ app.request.basepath }}/testimonials">Testimonials</a></li>
                <li><a href="http://www.inmotionhosting.com/salesfaqs.html">FAQs</a></li>
                <li><a href="{{ app.request.basepath }}/contact">Contact Us</a></li>
                <li><a href="{{ app.request.basepath }}/guarantee">30/90 Day Money Back Guarantee</a></li>
                <li><a href="{{ app.request.basepath }}/terms-of-service">Terms of Service</a></li>
                <li><a href="{{ app.request.basepath }}/privacy-policy">Privacy Policy</a></li>
                <li><a href="http://www.inmotionhosting.com/employment/">Employment</a></li>
                <li><a href="{{ app.request.basepath }}/link-to-us">Link To Us</a></li>
            </ul>
        </div>
        <div class="span3">
            <h2>Our Products</h2>
            <ul>
                <li><a href="{{ app.request.basepath }}/">Home</a></li>
                <li><a href="{{ app.request.basepath }}/business-hosting">Business Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/vps-hosting">VPS Hosting</a></li>
                <li><a href="{{ app.request.basepath }}/dedicated-servers">Dedicated Servers</a></li>
                <li><a href="{{ app.request.basepath }}/webdesign">Web Design</a></li>
                <li><a href="{{ app.request.basepath }}/domains">Domain Registration</a></li>
            </ul>
        </div>
        <div class="span3">
            <h2>Support/Resources</h2>
            <ul class="sm">
                <li><a href="http://support.inmotionhosting.com/">Customer Center</a></li>
                <li><a href="http://support.inmotionhosting.com/cgi-bin/pdesk.cgi">Support Desk</a></li>
                <li><a href="http://forum.inmotionhosting.com/">Support Forum</a></li>
                <li><a href="http://www.inmotionhosting.com/billinginfo.html">Billing Information</a></li>
                <li><a href="http://support.inmotionhosting.com/userguides.html">User Guides</a>
                    <ul>
                        <li><a href="http://support.inmotionhosting.com/userguides.html">Flash Guides</a>
                            <ul>
                                <li><a href="http://support.inmotionhosting.com/userguides/cpanel_flash_guide.htm">CPanel Flash Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/dns_flash_guide.htm">Change Nameservers (DNS)</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/email_flash_guide.htm">Configure an Email Client</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/ws_ftp_flash_guide.htm">WS FTP Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/osc_flash_guide.htm">osCommerce Flash Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/fp_flash_guide.htm">FrontPage Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/dwmx_flash_guide.htm">Dreamweaver Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/flashmx_flash_guide.htm">Flash Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/phpbb_flash_guide.htm">phpBB Admin &amp; User Tutorials</a></li>
                            </ul>
                        </li>
                        <li><a href="http://support.inmotionhosting.com/userguides.html">Text Guides</a>
                            <ul>
                                <li><a href="http://support.inmotionhosting.com/userguides/spam_series.html">Spam Prevention Series</a>
                                    <ul>
                                        <li><a href="http://support.inmotionhosting.com/userguides/spam_guide.html">Spam Assassin Guide</a></li>
                                        <li><a href="http://support.inmotionhosting.com/userguides/boxtrapper_guide.html">BoxTrapper Setup Guide</a></li>
                                    </ul>
                                </li>
                                <li><a href="http://support.inmotionhosting.com/userguides/explorer_ftp_tutorial.html">Explorer's FTP Program</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/smartftp_tutorial.html">Upload with SmartFTP</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/ws_ftp_tutorial.html">WS FTP Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/frontpage_tutorial.html">FrontPage Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/dreamweaver_tutorial.html">Dreamweaver Tutorials</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/setup_email_tutorial.html">Setup Email Accoutn in CPanel</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/outlook_tutorial.html">Setup Outlook/Outlook Express</a></li>
                                <li><a href="http://forum.inmotionhosting.com/viewtopic.php?t=184">Configure FormMail</a></li>
                                <li><a href="http://support.inmotionhosting.com/userguides/webbuilder_guide.html">WebBuilder User Guide</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="http://webhostinghelpguy.inmotionhosting.com/">Web Hosting Articles</a></li>
            </ul>
        </div>
        <div class="span3">
            <h2>Affiliate Program</h2>
            <p>Start making money with the InMotion Hosting Affiliate Program. Earn a generous $50.00 payout when you send a customer to experience our affordable web hosting.</p>
            <ul>
                <li><a href="{{ app.request.basepath }}/hosting-affiliate-program">Affiliate Program</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}