{% extends 'layout.html.twig' %}

{# title #}
{% block title %}Web Hosting, VPS Hosting, Dedicated Hosting{% endblock %}

{# keywords #}
{% block keywords %}web hosting, vps hosting, dedicated server, hosting provider, website hosting, inmotion, inmotion hosting, inmotionhosting{% endblock %}

{# description #}
{% block description %}Web Hosting Services by InMotion Hosting. Top rated Business Hosting Provider for Small and Medium Companies. Website hosting company offering VPS Hosting, Dedicated Servers and Shared Hosting.{% endblock %}

{# intro #}
{% block intro %}
{% endblock %}

{# content #}
{% block content %}
    <div class="pattern">
        <div class="container">
            <div class="row rostrum">
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-second">
                    <div class="island raised">

                        {# secondplaceplan #}
                        {% block secondplaceplan %}
                        {% endblock %}

                    </div><!-- /.rostrum-tiered-item-second -->
                </div>
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-first">
                    <div class="island raised">

                        {# firstplaceplan #}
                        {% block firstplaceplan %}
                        {% endblock %}

                    </div><!-- /.rostrum-tiered-item-first -->
                </div>
                <div class="span4 rostrum-tiered-item rostrum-tiered-item-third">
                    <div class="island raised">

                        {# thirdplaceplan #}
                        {% block thirdplaceplan %}
                        {% endblock %}

                    </div><!-- /.rostrum-tiered-item-third -->
                </div>
            </div><!-- /.rostrum -->

            {# commercial #}
            {% block commercial %}
            {% endblock %}

            <div class="jutwrap2 row">
                    <div class="span6">
                        <div class="island raised ads">
                            <img src="{{ app.request.basepath }}/img/90day.png" alt="90 Day Garauntee icon" class="iconleft" />
                            <p>All business plans come with an Industry Leading <a href="{{ app.request.basepath }}/guarantee">90-Day Money Back Guarantee</a></p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="island raised ads">
                            <img src="{{ app.request.basepath }}/img/spedometer.png" alt="Max Speed Zone icon" class="iconleft" />
                            <p><a href="{{ app.request.basepath }}/fast-web-hosting">Max Speed Zone Enabled.</a> Multiple data centers means you can get the fastest connection on either coast.</p>
                        </div>
                    </div>
                <div class="span4">
                    <div class=" trust muted centered">
                        <span class="ln">Our Trusted Partners</span>
                        <a href="{{ app.request.basepath }}/partners-and-awards"><img src="{{ app.request.basepath }}/img/trusted-partners.png" alt="Trusted Partners logos" /></a>
                    </div>
                </div>
                <div class="span4">
                    <div class=" trust muted centered">
                        <span class="ln">Security</span>
                        <img src="{{ app.request.basepath }}/img/trusted-security.png" alt="Security logos" />
                    </div>
                </div>
                <div class="span4">
                    <div class=" trust muted centered">
                        <span class="ln">Our Awards</span>
                        <a href="{{ app.request.basepath }}/partners-and-awards"><img src="{{ app.request.basepath }}/img/trusted-awards.png" alt="Our Awards" /></a>
                    </div>
                </div>
            </div>
        </div>
            <div class="tabbg">
                <div class="navbar-inverse nav-static-top hosting-plan-details">
                    <div class="navbar-inner">
                        <div class="container"> 
                            <ul class="nav nav-tabs">

                            {# webhostingtabbednav #}
                            {% block webhostingtabbednav %}
                            {% endblock %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="tab-content">

                    {# webhostingtabbedcontent #}
                    {% block webhostingtabbedcontent %}
                    {% endblock %}

                    </div><!-- /.tab-content -->
                    <div class="row-fluid suggestion">
                        <h3 class="island raised"><img src="./img/bolt.png" width="12" height="24" alt="suggestion lightning bolt icon" />

                        {# suggestion #}
                        {% block suggestion %}
                        {% endblock %}

                        </h3>
                    </div>
                </div>
            </div>
            <div class="wrap raised">
                <div class="container">
                    <div class="row">
                        <h2 class="span8">

                        {# contacttitle #}
                        {% block contacttitle %}
                        {% endblock %}

                        </h2>
                        <p class="span8">Fill out the form below for a no-obligation consultation. Your email and phone number will only be used to communicate with you concerning the results of the evaluation.</p>
                    </div>
                <div class="container">
                    <div class="well well-deep">
                        <form class="row-fluid">
                            <div class="span4">
                                <label class="a11y" for="fullName">Full Name</label>
                                <input id="fullName" type="text" placeholder="Full Name" class="span11" />
                                <label class="a11y" for="desiredUrl">Website URL Desired</label>
                                <input id="desiredUrl" type="text" placeholder="Website URL Desired" class="span11" />
                                <label class="a11y" for="phoneNumber">Your Phone #</label>
                                <input id="phoneNumber span11" type="text" placeholder="Your Phone #" class="span11" />
                            </div>
                            <div class="span4">
                                <label>Currently an InMotion Hosting Customer?</label>
                                <label class="a11y" for="postalCode">Zip Code</label>
                                <input id="postalCode" type="text" placeholder="Zip Code" class="span11" />
                                <label class="a11y" for="whereIMH">Your Phone #</label>
                                <input id="whereIMH" type="text" placeholder="Where'd you hear about us" class="span11" />
                            </div>
                            <div class="span4">
                                <label for="siteGoals">What are your goals for this site?</label>
                                <textarea id="siteGoals" rows="3" class="span11"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row wrap">
                    <div class="dc span3">
                        <img src="{{ app.request.basepath }}/img/logo-dc.png" alt="Domain Concierge logo" />Moving domains can be messy. We'll handle the dirty work. <br /><a href="{{ app.request.basepath }}/domain-transfer">Learn More</a>
                    </div>

                    {# testimonial #}
                    {% block testimonial %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
