{% extends 'longtail-webbuilder.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Premium Web Site Builder{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}Premium website builder free on all business class web hosting packages! Build a website for your business the quick and easy way.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Premium Website Builder</h1>
    </div>
    <div class="span3">

    </div>
{% endblock %}

{% block container %}

    {% block left_column %}
        <div class="span8">

            <ol class="webbuilder">
                <li class="step1">
                    <span class="corner leftside"></span>
                    <h3><img src="{{ app.request.basepath }}/img/webbuilder/builder_pageintro_choose1.gif" alt="" /></h3>
                </li>
                <li class="arrow">
                    <img src="{{ app.request.basepath }}/img/webbuilder/builder_pageintro_arrow.gif" alt="" />
                </li>
                <li class="step2">
                    <h3><img src="{{ app.request.basepath }}/img/webbuilder/builder_pageintro_add2.gif" alt="" /></h3>
                </li>
                <li class="arrow">
                    <img src="{{ app.request.basepath }}/img/webbuilder/builder_pageintro_arrow.gif" alt="" />
                </li>
                <li class="step3">
                    <h3><img src="{{ app.request.basepath }}/img/webbuilder/builder_pageintro_publish3.gif" alt="" /></h3>
                </li>
            </ol>

<h3>1-2-Publish!</h3>
<p>Using InMotion Hosting's premium web builder is the easiest way to get your site online. Simply choose a theme, edit your site's content then publish it for the world to see.</p>

<p>InMotion Hosting's premium web builder offers one of the easiest ways to create and publish a full featured, great looking website.</p>

<h4>Choose a Theme</h4>
<p>Choose one of our over 500+ industry specific themes. You can then choose to customize the color scheme, header graphic, upload your own logo, create a flash intro &amp; add or remove pages.</p>

<h4>Add Your Content</h4>
<p>Using our What-You-See-Is-What-You-Get (WYSIWYG) website editor is as easy as using a word processor such as Microsoft™ Word® or OpenOffice™ WRITER®. Just add or paste your content and format your text using *our easy point-and-click interface.</p>

<h4>Publish!</h4>
<p>Once you're happy with your site, simply publish it with a single click!</p>

<h3>Over 500+ Themes</h3>
<p>Choose from over 500+ industry specific themes, each with customizable color schemes, header graphics and logos. Some categories include:</p>

<ul class="theme_showcase">
            <li>Art &amp; Photography<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_artphotography.gif" alt="photography screenshot" /></li>
            <li>Automotive<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_automotive.gif" alt="automotive screenshot" /></li>
            <li>Beauty<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_beauty.gif" alt="beauty screenshot" /></li>
            <li>Blogging<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_blogging.gif" alt="blogging screenshot" /></li>
            <li>Computer<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_education.gif" alt="education screenshot" /></li>

        </ul>

        <ul class="theme_showcase">
            <li>Florists<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_florists.gif" alt="florist screenshot" /></li>
            <li>Food &amp; Recipes<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_foodrecipes.gif" alt="food recipes screenshot" /></li>
            <li>Interior Design<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_furnitureinteriordesign.gif" alt="furniture interior design screenshot" /></li>
            <li>Gaming<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_gaming.gif" alt="gaming screenshot" /></li>
            <li>General Business<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_generalbusiness.gif" alt="general business screenshot" /></li>

        </ul>
        <ul class="theme_showcase">
            <li>Hotels<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_hotels.gif" alt="hotels screenshot" /></li>
            <li>Medical &amp; Dental<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_medicaldental.gif" alt="medical dental screenshot" /></li>
            <li>Entertainment<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_musicentertainment.gif" alt="music entertainment screenshot" /></li>
            <li>Dance Clubs<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_nightlifedanceclubs.gif"  alt="night life dancing screenshot" /></li>
            <li>Real Estate<br /><img src="{{ app.request.basepath }}/img/webbuilder/theme_realestate.gif" alt="real estate screenshot" /></li>
        </ul>

<h3>Flash Intros</h3>
<p>Upload your custom Flash intro or use our builder to easily create one from the provided templates. Customize your message, color &amp; animation with only a few clicks!</p>

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="250" height="125" align=""><param name="bgcolor" value="#ffffff"><param name="movie" value="_swf/builder_flash.swf"><param name="quality" value="high"><param name="Scale" value="ShowAll"><param name="wmode" value="opaque"><param name="FlashVars" value="BackgroundId=2&ObjectId=1&Text1=Add+Your+Intro+Title+Here%21&Text2=%26+Maybe+a+Tagline+Too%21"><embed quality="high" bgcolor="#FFFFFF" width="250" height="125" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="opaque" src="_swf/builder_flash.swf" FlashVars="BackgroundId=2&ObjectId=1&Text1=Add+Your+Intro+Title+Here%21&Text2=%26+Maybe+a+Tagline+Too%21"></embed></object>

<h3>Functionality +</h3>
<p>Use InMotion Hosting’s premium builder to create a web site, blog, message board or photo gallery all from one location. No need to continue using multiple companies to do each.</p>

<p>Our premium builder allows you to easily add a blog, photo gallery, message board, or guestbook to your site. You also have the ability to require users to register for your site, capturing vital user data. While many of these features can be found as stand-alone services elsewhere, with our builder you can create and manage all these features from a single location.</p>

<div class="row">
    <div class="container">
        <div class="span1">
            <img src="{{ app.request.basepath }}/img/webbuilder/icon_blog.gif" class="sales-page-left-float" alt="blog icon" /><h4>
        </div>
        <div class="span6 ">
            <h4>Blog</h4>
            <p>Create and edit your blog posts and categories at any time from anywhere.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="span1">
            <img src="{{ app.request.basepath }}/img/webbuilder/icon_photogallery.gif" class="sales-page-left-float" alt="photography icon" />
        </div>
        <div class="span6 ">
            <h4>Photo Gallery</h4>
            <p>Easily upload and share your photos, create categories and add descriptions. Thumbnails of your photos are automatically created.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="span1">
            <img src="{{ app.request.basepath }}/img/webbuilder/icon_messageboard.gif" class="sales-page-left-float" alt="messageboard icon" />
        </div>
        <div class="span6 ">
            <h4>Message Board</h4>
            <p>Create a message board so your users can communicate with each other or give you feedback. Message boards are also a great way to have your users help build website content that the search engines love!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="span1">
            <img src="{{ app.request.basepath }}/img/webbuilder/icon_guestbook.gif" class="sales-page-left-float" alt="guestbook icon" />
        </div>
        <div class="span6 ">
            <h4>Guestbook</h4>
            <p>Create a guestbook so your visitors can easily leave you feedback or comments.</p>
        </div>
    </div>
</div>

<img src="{{ app.request.basepath }}/img/webbuilder/nosoftware_icon.gif" class="sales-page-right-float" alt="no software icon" /><h3>No Software to Buy</h3>
<p>With InMotion Hosting’s builder there's no need to purchase costly desktop applications to build your site. These applications retail for hundreds of dollars, your builder is included with your Business Class web hosting package for FREE.</p>

<img src="{{ app.request.basepath }}/img/webbuilder/editanywhere_icon.gif" class="sales-page-left-float" alt="edit anywhere icon" /><h3>Edit From Anywhere</h3>
<p>With our web builder you can create, edit or manage your web site from anywhere in the world, anytime you need.</p>

<h3>EZ Ecommerce</h3>
<p>Power and Pro Hosting Plans allow you to easily add an ecommerce store to your site. Quickly upload and manage your products, shipping methods, payment gateways and more without having to create databases or install complicated scripts.</p>

<p>Our premium web builder allows companies seeking an ecommerce solution to easily build an online store without the hassle of piecing together various scripts or software solutions. With our builder you can create product categories, upload product images, add descriptions and even track the orders you receive.</p>

<p>Our premium builder also easily incorporates the leading payment processors such as PayPal, Authorize.Net and 2Checkout.</p>

<p>*Ecommerce function is only available on Power and Pro Business Class Hosting plans.</p>
<img src="{{ app.request.basepath }}/img/webbuilder/logo_paypal.gif" class="sales-page-left-float" alt="paypal logo" /> <img src="{{ app.request.basepath }}/img/webbuilder/logo_authorizenet.gif" class="sales-page-left-float" alt="authorize.net logo" /> <img src="{{ app.request.basepath }}/img/webbuilder/logo_2co.gif" class="sales-page-left-float" alt="2CO logo" />

<h3>Search Engine Friendly</h3>
<p>InMotion Hosting's builder allows you to create search engine friendly web sites ready to be found on Google, Yahoo &amp; More.</p>

<img src="{{ app.request.basepath }}/img/webbuilder/searchengine_google.gif" class="sales-page-left-float" alt="" /> <img src="{{ app.request.basepath }}/img/webbuilder/searchengine_yahoo.gif" class="sales-page-left-float" alt="" /> <img src="{{ app.request.basepath }}/img/webbuilder/searchengine_msn.gif" class="sales-page-left-float" alt="" /> <img src="{{ app.request.basepath }}/img/webbuilder/searchengine_ask.gif" class="sales-page-left-float" alt="" />

        </div>
        <!--  end span8  -->
    {% endblock %}

{% endblock %}
