{% extends 'webhosting_plan.html.twig' %}
{% set active = 'dedicated_servers' %}

{# title #}
{% block title %}VPS Hosting Plans &amp; VPS Servers{% endblock %}

{# keywords #}
{% block keywords %}vps hosting, vps servers, virtual private server, virtual private servers, hosting{% endblock %}

{# description #}
{% block description %}VPS Hosting Plans and VPS Servers by InMotion Hosting. Our top rated Virtual Private Servers are reliable, powerful, and affordable.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span6 white">
        <h1>Dedicated Servers</h1>
        <p>Our managed dedicated servers give your websites the highest level of speed, security and uptime. With over 10 years of hosting experience, we know what it takes to keep our servers performing at their fullest. From hardware matching CPU + RAM, to optimizing the LAMP stack, our system administrators are the experts.</p>
    </div>
    <div class="leader-dedi-cta-place">
        <div class="span3"><a href="#" class="btn btn-primary">Order Now</a></div>
     </div>
{% endblock %}

{# secondplaceplan #}
{% block secondplaceplan %}
    <h3 class="package-title">
    <img src="{{ app.request.basepath }}/img/package-icon-tier1.png" alt="Essential Dedicated Package" class="tier-space" />ESSENTIAL</h3>
    <p class="package-subtitle">Affordable solution for your needs</p>
    <div class="pricebox"><sup>$</sup>119<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel Core E2220/E5400</dt>
        <dd class="split-center-value">Dual Core /2T</dd>
        <dt class="split-center-title">RAM:</dt>
        <dd class="split-center-value">2GB</dd><br />
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">2 x 160GB</dd><br />
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">2.5TB/mo.</dd><br />
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">5</dd><br />
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd><br />
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">Order Now</a>
    </div>
{% endblock %}

{# firstplaceplan #}
{% block firstplaceplan %}
    <div class="badge"><p>BEST<br/>VALUE</p></div>
    <h3 class="package-title"><img src="{{ app.request.basepath }}/img/package-icon-tier2.png" alt="Advanced Dedicated Package" class="tier-space" />ADVANCED</h3>
    <p class="package-subtitle">The best value for responsive, powerful websites</p>
    <div class="pricebox"><sup>$</sup>139<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel Xeon E3-1220 3.1GHz 8MB Cache Turbo Quad Core /4T</dt>
        <dd class="split-center-value"></dd>
        <dt class="split-center-title">RAM:</dt>
        <dd class="split-center-value">4GB</dd><br />
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">500GB</dd><br />
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">3.0TB/mo.</dd><br />
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">10</dd><br />
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd><br />
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">Order Now</a>
    </div>
{% endblock %}

{# thirdplaceplan #}
{% block thirdplaceplan %}
    <div class="badge blue"><p>RAID</p></div>
    <h3 class="package-title"><img src="{{ app.request.basepath }}/img/package-icon-tier3.png" alt="Pro Business Package" class="tier-space" />ELITE</h3>
    <p class="package-subtitle">High performance</p>
    <div class="pricebox"><sup>$</sup>189<sup>95</sup><sub>/mo.</sub></div>
    <dl class="split-center">
        <dt class="split-center-title">Intel® Xeon® E3-1230 3.2GHz 8MB Cache Turbo Quad Core /8T</dt>
        <dd class="split-center-value"></dd><br />
        <dt class="split-center-title">Storage:</dt>
        <dd class="split-center-value">500GB</dd><br />
        <dt class="split-center-title">Bandwith:</dt>
        <dd class="split-center-value">4.0TB/mo.</dd><br />
        <dt class="split-center-title">IP Addresses:</dt>
        <dd class="split-center-value">15</dd><<br />
        <dt class="split-center-title">Environment:</dt>
        <dd class="split-center-value">CentOS, cPanel, WHM</dd><br />
        <dt class="split-center-title">Backups:</dt>
        <dd class="split-center-value">Every 24-36 hours</dd>
    </dl>
    <div class="mid">
        <a href="#" class="btn btn-primary over">Order Now</a>
    </div>
{% endblock %}

{# commercial #}
{% block commercial %}
    <div class="row-fluid combox-row">
        <div class="pull-left raised island combox">
            <h3 class="package-title"><img class="tier-space" alt="Commerical #1 Dedicated Package" src="{{ app.request.basepath }}/img/package-icon-tier-c.png" />COMMERCIAL #1</h3>
            <p class="package-subtitle">Intense server grade machines</p>
            <div class="pricebox"><sup>$</sup>469<sup>95</sup><sub>/mo.</sub></div>
            <dl class="split-center">
                <dt class="split-center-title">Intel® Xeon® E5645 2.4GHz, 12M Cache, 5.86 GT/s QPI, 6C/12T</dt>
                <dd class="split-center-value"></dd><br />
                <dt class="split-center-title">RAM:</dt>
                <dd class="split-center-value">16GB</dd><br />
                <dt class="split-center-title">Storage:</dt>
                <dd class="split-center-value">RAID1 600GB</dd><br />
                <dt class="split-center-title">Bandwith:</dt>
                <dd class="split-center-value">3.0TB/mo.</dd><br />
                <dt class="split-center-title">IP Addresses:</dt>
                <dd class="split-center-value">20</dd><br />
                <dt class="split-center-title">Environment:</dt>
                <dd class="split-center-value">CentOS, cPanel, WHM</dd><br />
            </dl>
            <div class="com-mid">
                <a href="#" class="btn btn-primary over">Order Now</a>
            </div>
        </div>
        <div class="pull-left raised island combox">
            <h3 class="package-title"><img class="tier-space" alt="Commercial #2 Dedicated Package" src="{{ app.request.basepath }}/img/package-icon-tier-c.png" />COMMERCIAL #2</h3>
            <p class="package-subtitle">Extreme performance</p>
            <div class="pricebox"><sup>$</sup>569<sup>95</sup><sub>/mo.</sub></div>
            <dl class="split-center">
                <dt class="split-center-title">Intel® Xeon® E5645 2.4GHz, 12M Cache, 5.86 GT/s QPI, 12C/24T</dt>
                <dd class="split-center-value"></dd><br />
                <dt class="split-center-title">RAM:</dt>
                <dd class="split-center-value">32GB</dd><br />
                <dt class="split-center-title">Storage:</dt>
                <dd class="split-center-value">RAID1 600GB</dd><br />
                <dt class="split-center-title">Bandwith:</dt>
                <dd class="split-center-value">3.0TB/mo.</dd><br />
                <dt class="split-center-title">IP Addresses:</dt>
                <dd class="split-center-value">25</dd><br />
                <dt class="split-center-title">Environment:</dt>
                <dd class="split-center-value">CentOS, cPanel, WHM</dd><br />
            </dl>
            <div class="com-mid">
                <a href="#" class="btn btn-primary over">Order Now</a>
            </div>
        </div>
    </div>
{% endblock %}

{# webhostingtabbednav #}
{% block webhostingtabbednav %}
    <li><a href="#uses" data-toggle="tab">Typical Uses</a></li>
    <li class="active"><a href="#specifications" data-toggle="tab">Specifications<div class="arrow"></div></a></li>
    <li><a href="#support" data-toggle="tab">Support</a></li>
    <li><a href="#developers" data-toggle="tab">Developers</a></li>
{% endblock %}

{# webhostingtabbedcontent #}
{% block webhostingtabbedcontent %}
<!-- #uses -->
<div class="tab-pane row" id="uses">
    <div class="span3 pull-left">
        <ul class="nav nav-tabs nav-stacked typical-uses">
            <li class="active"><a href="#t1">E-Commerce</a></li>
            <li><a href="#t2">Root Access</a></li>
            <li><a href="#t3">Jabber Server</a></li>
            <li><a href="#t4">Managing Projects</a></li>
            <li><a href="#t5">Online Training</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tu-span pull-right tab-pane active" id="t1">
        <div class="uses-img pull-right"><img src="{{ app.request.basepath }}/img/tu-logo-magento.png" alt="magento logo" /><img src="{{ app.request.basepath }}/img/tu-logo-prestashop.png" alt="prestashop logo" /></div>
        <h3>E-Commerce</h3><p>Increase revenue by operating an online store with PrestaShop. Use our one click installer included with every VPS to get started today. Our VPS have enough RAM at an affordable price in order to run your new shop, your website and your email efficiently.</p>
        </div>
        <div class="tu-span pull-right tab-pane" id="t2">
        <div class="uses-img pull-right"><img src="{{ app.request.basepath }}/img/tu-logo-gear.png" alt="root access logo" /></div>
        <h3>Root Access</h3><p>Need root access to run third party applications? Choose a VPS product with the memory specifications that best fit your needs to take full control of you server.
</p>
        </div>
        <div class="tu-span pull-right tab-pane" id="t3">
        <div class="uses-img pull-right"><img src="{{ app.request.basepath }}/img/tu-logo-jabber.png" alt="jabber logo" /></div>
        <h3>Jabber (XMPP) Server</h3><p>Enhance communication and collaboration within your business with a Jabber server. Share files, notes and instant message communications with free XMPP software that runs beautifully on our line of VPS products. Best of all, its secure and private – just right for your business.</p>
        </div>
        <div class="tu-span pull-right tab-pane" id="t4">
        <div class="uses-img pull-right"><img src="{{ app.request.basepath }}/img/tu-logo-joomla.png" alt="joomla logo" /><img src="{{ app.request.basepath }}/img/tu-logo-drupal.png" alt="drupal logo" /></div>
        <h3>Project Management</h3><p>Improve communication between clients and your employees alike with a variety of open source software solutions for collaborative project management, bug reporting, support tickets and more.</p>
        </div>
        <div class="tu-span pull-right tab-pane" id="t5">
        <div class="uses-img pull-right"><img src="{{ app.request.basepath }}/img/tu-logo-clipboard.png" alt="clipboard logo" /></div>
        <h3>Online Training</h3><p>Need to ensure accuracy across different groups in your workplace? Setup a company Wiki to ensure associates have information, policies and SOP’s at their fingertips. Need to train in multiple locations? Ensure consistency with online seminars and training through Moodle.</p>
        </div>
    </div>
</div><!-- /#uses -->
<!-- #specification -->
<div class="tab-pane active dedi-specification" id="specifications">
    <table class="table table-striped">
        <caption class="a11y">Listing of Business Hosting Plan Specifications and Pricing</caption>
        <colgroup span="1" class="plan-specification-listing"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1" class="plan-specification-featured"></colgroup>
        <colgroup span="1"></colgroup>
        <colgroup span="1"></colgroup>
        <thead>
            <tr>
                <td></td>
                <th scope="col" class="tb-title">Essential</th>
                <th scope="col" class="tb-title">Advanced</th>
                <th scope="col" class="tb-title">Elite</th>
                <th scope="col" class="tb-title">Comm. #1</th>
                <th scope="col" class="tb-title">Comm. #2</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th scope="row">Price</th>
                <td><span class="smallprice">$119.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                <td><span class="smallprice">$139.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                <td><span class="smallprice">$189.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                <td><span class="smallprice">$469.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                <td><span class="smallprice">$569.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th scope="row">
                    <button class="btn-link" data-toggle="collapse" data-target="#showme1">Intel® CPU Specs</button>
                    <div id="showme1" class="collapse">
                        <p>Every one of our dedicated servers is equipped with either Intel® Core® or Xeon® processors. This helps ensure the fastest and most reliable operation of your dedicated server. In addition, our Elite servers come equipped with a Quad Core Intel® Xeon® CPU with eight-way threading! This provides an affordable and efficient solution to handle even the most robust tasks.</p>
                    </div>
                </th>
                <td>Core® E2220/E5400 2.4GHz Dual Core/2T</td>
                <td>Xeon® 3430 2.4GHz Turbo Quad Core/4T</td>
                <td>Xeon® 3440 2.53GHz Turbo Quad Core/8T</td>
                <td>Xeon® E5645 2.4 GHz 5.86 GT/s QPI 6C/12T</td>
                <td>Xeon® E5645 2.4 GHz 5.86 GT/s QPI 12C/24T</td>
            </tr>
            <tr>
                <th scope="row">CPU Cache</th>
                <td>1MB</td>
                <td>8MB</td>
                <td>8MB</td>
                <td>12MB</td>
                <td>12MB</td>
            </tr>
            <tr>
                <th scope="row">Memory Included</th>
                <td>2GB</td>
                <td>4GB</td>
                <td>8GB</td>
                <td>16GB</td>
                <td>32GB</td>
            </tr>
            <tr>
                 <th scope="row">Front Side Bus</th>
                <td>800MHz</td>
                <td>1333MHz</td>
                <td>1333MHz</td>
                <td>1333MHz</td>
                <td>1333MHz Dual</td>
            </tr>
            <tr>
                <th scope="row">
                    <button class="btn-link" data-toggle="collapse" data-target="#showme2">Disc Space</button>
                    <div id="showme2" class="collapse">
                        <p>All Dedicated Servers come equipped with Serial ATA 7,200RPM hard drives. SATA is the next generation of hard drive and provides a faster, more reliable & more affordable data storage solution than is offered by most of our competitors.</p>
                    </div>
                </th>
                <td>2 x 160GB</td>
                <td>500GB</td>
                <td>500GB</td>
                <td>600GB</td>
                <td>600GB</td>
            </tr>
            <tr>
                <th scope="row">
                    <button class="btn-link" data-toggle="collapse" data-target="#showme3">RAID 1 Fault Tolerant</button>
                    <div id="showme3" class="collapse">
                        <p>RAID 1 (Redundant Array of Independent Disks) is a way of storing your data in two places by placing data on multiple hard disks. By placing data on multiple disks your data is conveniently and automatically backed up, increasing fault tolerance.</p>
                    </div>
                </th>
                <td><span class="ir unacceptable">Not Included</span></td>
                <td><span class="ir unacceptable">Not Included</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
            </tr>
            <tr>
                <th scope="row">
                    <button class="btn-link" data-toggle="collapse" data-target="#showme4">Monthly Premium Transfer</button>
                    <div id="showme4" class="collapse">
                        <p>Today's broadband connections demand faster and more reliable performance from your web site and email. Our network was specifically built to be expandable for capacity and for throughput. Our data center is connected to the Internet through 3 separate providers with an on demand capacity exceeding 7,500 MBits. We utilize BGP4 Smart Routing and can switch instantly and transparently away from any of our providers that are experiencing latency or downtime. Our advanced knowledge and planning allow us to provide extremely fast and reliable service while still offering affordable web hosting.</p>
                        <ul>
                            <li>Smart Routing (BGP4) over 3 Tier I Providers</li>
                            <li>On Demand bandwidth exceeding 7,500 MBits</li>
                        </ul>
                    </div>
                </th>
                <td>2500GB</td>
                <td>3000GB</td>
                <td>4000GB</td>
                <td>3000GB</td>
                <td>3000GB</td>
            </tr>
            <tr>
                <th scope="row">
                    <button class="btn-link" data-toggle="collapse" data-target="#showme5">Full cPanel License</button>
                    <div id="showme5" class="collapse">
                        <p>Each one of our Dedicated Server plans includes a full license to the award winning cPanel control panel software. Most other companies offer this feature at additional monthly and set-up costs or don't offer it at all. Additional charges apply for Softaculous, please ask your sales person for details.</p>
                    </div>
                </th>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
                <td><span class="ir ideal">Ideal</span></td>
            </tr>
        </tbody>
    </table>  
    <a href="#" class="btn btn-info">View More Specs</a>
</div><!-- /#specifications -->
<!-- #support -->
<div class="tab-pane row" id="support">
    <div class="span4">
        <h2>24/7 Award-Winning Support</h2>
        <p>With optional full Root Access management, you are in control. But that doesn’t mean you’re on your own. Get a hold of us either by phone, email or live chat.</p><p>We are here to help. But with a partially managed server, there are limits as to what our responsibilities are. Please see the below table for more information.</p>
    </div>
    <div class="span4">
        <div class="island raised">
            <h3 class="">Coverage</h3>
            <ul class="checkli">
                <li>CentOS updates and security patches</li>
                <li>cPanel and WHM support</li>
                <li>Hardware maintenance and replacement</li>
                <li>System level performance monitoring</li>
                <li>Monitoring and maintaining network uptime</li>
                <li>Network security support</li>
                <li>Apache, MySQL, Exim and PureFTPd web server support</li>
            </ul>
        </div>
    </div>
    <div class="span4">
        <div class="island raised">
            <h3 class="">Your Responsibilites</h3>
            <ul class="checkli">
                <li>Advanced server administration</li>
                <li>Databse administration</li>
                <li>Custom application support</li>
                <li>User script errors</li>
                <li>Server backups</li>
            </ul>
        </div>
    </div>
</div><!-- /#support -->
<!-- #developers -->
<div class="tab-pane row" id="developers">
    <div class="span4">
        <h2>Spend time with clients and coding, not hassling with hosting.</h2>
        <p>Take control of your Dedicated Server and utilize it as you see fit. With our CentOS environment, and optional Root Access, the possibilities are endless. Call us today to get started!</p>
    </div>
    <div class="span4">
        <div class="island raised">
            <h3 class="">Included:</h3>
            <ul class="checkli">
                <li>CentOS updates and security patches</li>
                <li>cPanel and WHM support</li>
                <li>Hardware maintenance and replacement</li>
                <li>System level performance monitoring</li>
                <li>24-hour server and bandwidth monitoring</li>
                <li>Network security support</li>
                <li>Apache (Linux) web server support</li>
            </ul>
        </div>
    </div>
    <div class="span4">
        <div class="island raised">
            <h3 class="">Rock-solid Hardware</h3>
            <ul class="checkli">
                <li>High-performance Dell servers</li>
                <li>Custom Advanced Policy Firewall</li>
                <li>Enterprise Class Linux OS (CentOS)</li>
                <li>Rebootless kernel updates (Ksplice)</li>
                <li>RAID 1 High-through put data storage (available on Elite Dedicated Server packages only)</li>
            </ul>
        </div>
    </div>
</div><!-- /#developers -->
{% endblock %}

{# suggestion #}
{% block suggestion %}
    Questions? Contact us at 1-888-321-HOST
{% endblock %}

{# contacttitle #}
{% block contacttitle %}
    Contact our Dedicated Server Experts
{% endblock %}

{# testimonial #}
{% block testimonial %}
    <div class="row span8 island sunken">
        <blockquote class="quoted">As a busy developer and site administrator, I know how difficult it is to find a reliable, consistent and accessible hosting company. I have many sites on inmotionhosting.com servers; everything from their budget plans to dedicated servers. They all run quickly and with no downtime."</blockquote>
        <span class="emisor vibrant indentit">
            <span class="quotename">Jason Larson</span>
            <span class="muted quotefrom">Bellingham, WA</span>
        </span>
    </div>
{% endblock %}