{% extends 'longtail-wordpress.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Wordpress Hosting{% endblock %}

{# keywords #}
{% block keywords %}web hosting, webhosting, business hosting, business web hosting, website hosting, website hosting, business website hosting, business hosting, business website hosting{% endblock %}

{# description #}
{% block description %}Wordpress hosting plans by InMotion Hosting. Easy web hosting for Wordpress blogs including 1-click install and faster performance.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Wordpress Web Hosting</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# container #}
{% block container %}
    {# left_column #}
    {% block left_column %}
        <div class="span8">
            <p>In addition to award winning technical support and 99.9% uptime, InMotion Hosting's WordPress Hosting is optimized for the active blogger. Our exclusive Speed Zone technology, top of the line security features, and business class servers ensure your WordPress will run smoothly and securely.</p>
            <h4 class="features-collapse">Features</h4>
            <!--  collapse table  -->
            <div class="row longtail-features">
            <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/advanced-features.jpg" alt="cpanel advanced features icon" />
                        <div class="media-body raised">
                            <p>1-Click Easy Install With Softaculous</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>1-Click Easy Install with Softaculous. Each InMotion Hosting Business Class web hosting package includes access to Softaculous. Softaculous offers a one-click installation of WordPress and will automatically update to offer the most current version! It couldn't get much easier to begin your WordPress website!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/website-statistics.jpg" alt="cpanel website statistics icon" />
                        <div class="media-body raised">
                            <p>Better Security with suPHP</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Better Security with suPHP. suPHP is a PHP module that restricts how and at which permission level PHP scripts are executed. Without suPHP, scripts are executed as the user "nobody," meaning they have system-wide access which can result in security vulnerabilities. InMotion Hosting utilizes suPHP to ensure the most secure environment available.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row longtail-features">
                <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/security.jpg" alt="cpanel security icon" />
                        <div class="media-body raised">
                            <p>Latest Versions of MySQL 5 &amp; PHP 5</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Latest Versions of MySQL5 and PHP5. InMotion Hosting currently offers the most recent and stable versions of MySQL and PHP. By choosing InMotion Hosting, you can ensure that your WordPress is running on the most up to date and secure platform.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/ftp-features.jpg" alt="cpanel ftp features icon" />
                        <div class="media-body raised">
                            <p>FREE New Domain or Domain Transfer for the first year</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Free New Domain or Domain Transfer for the first year. With each Business Class web hosting account, InMotion Hosting offers one free domain name or domain name transfer for the first year. Start your WordPress website with a FREE domain name or transfer for the first year and NO hidden fees!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row longtail-features">
                <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/email-administration.jpg" alt="email administration icon" />
                        <div class="media-body raised">
                            <p>Faster Performance with High Grade Hardware &amp; Max Speed Zones</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Faster Performance with High Grade Hardware &amp; Max Speed Zones. With InMotion Hosting Business Class web hosting, you have the choice of data center locations. With data centers located in Los Angeles, CA and Washington D.C., your information can be located closer to you, improving website and email performance! [ <a href="/fast-web-hosting">See The Difference</a> ]</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/database-administration.jpg" alt="cpanel database administration icon" />
                        <div class="media-body raised">
                            <p>Easy Transfer from Wordpress.com &amp; Other Hosts</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Easy website Transfer from Wordpress.com and Other Hosts. InMotion Hosting makes it easy to transfer your current WordPress website. We have helped thousands of customers transfer their website with no downtime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-class">
                <button type="button" class="btn btn-longtail" data-toggle="collapse" data-target="#demo, #demo2" data-parent="#menu">
                  View Details
                </button>
            </div>
            <!--  end collapse table  -->
            <div class="tab-pane active business-specification" id="specifications">
                <table class="table table-striped">
                    <caption class="a11y">Listing of Business Hosting Plan Specifications and Pricing</caption>
                    <colgroup span="1" class="plan-specification-listing"></colgroup>
                    <colgroup span="1" class="plan-specification-example"></colgroup>
                    <colgroup span="1"></colgroup>
                    <colgroup span="1" class="plan-specification-featured"></colgroup>
                    <colgroup span="1"></colgroup>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <th scope="col" class="tb-title">Launch</th>
                            <th scope="col" class="tb-title">Power</th>
                            <th scope="col" class="tb-title">Pro</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="row">Price</th>
                            <td></td>
                            <td><span class="smallprice">$5.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                            <td><span class="smallprice">$7.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                            <td><span class="smallprice">$13.95</span> /mo.<a href="#" class="btn btn-primary over">Order Now</a></td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme1">Websites on 1 Account</button>
                                <div id="showme1" class="collapse">
                                    <p>Included for free. Don't Be Fooled! Unlike the others who claim to offer 6 websites on 1 account, or even 10 websites on 1 account, we're different because we don't have any hidden setup fees or hard to find additional monthly charges.Our web hosting packages are plain and simple - host multiple websites on 1 account for one low price.</p>
                                </div>
                            </th>
                            <td>Multiple websites, no hidden fees!</td>
                            <td>2</td>
                            <td>6</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme2">Domains Supported</button>
                                <div id="showme2" class="collapse">
                                    <p>This allows you to have multiple domain names point to the same account - often used to send mydomain.com, mydomain.net, and mydomain.org to the same website.</p>
                                </div>
                            </th>
                            <td>Parked Domains</td>
                            <td>6</td>
                            <td>26</td>
                            <td>UNLMITED</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme3">Additional Sub Domains</button>
                                <div id="showme3" class="collapse">
                                    <p>A canonical name looks like canonical.domain.com. The standard ones are www.domain.com and domain.com. Depending on your package, other names like info.domain.com or support.domain.com can be used - the "canonical" is chosen by you.</p>
                                </div>
                            </th>
                            <td>For example: mobile.domain.com</td>
                            <td>25</td>
                            <td>100</td>
                            <td>UNLIMITED</td>
                        </tr>
                        <tr>
                             <th scope="row">Easy Control Panel</th>
                            <td><a href="#">Try Control Panel</a></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme4">Easy 1-Click Install</button>
                                <div id="showme4" class="collapse">
                                    <p>Our easy to use application installer allows you to install and manage over 280 applications! Easily install these popular application tools: </p>
                                    <ul>
                                        <li>For bloggers: Wordpress, b2evolution, &amp; Open Blog</li>
                                        <li>Online shopping carts: Prestashop, Open Cart, &amp; Magento</li>
                                        <li>CMS platforms: Drupal, Joomla, &amp; Moodle and many more!</li>
                                    </ul>
                                </div>
                            </th>
                            <td>Over 280 Applications</td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme5">Data Backup</button>
                                <div id="showme5" class="collapse">
                                    <p>It is critical for you to have backups. We provide, included with your account, a complete backup of your Shared environment. This will occur automatically unless requested. The backup environment is as secure as the main Shared Web Hosting environment and the data is transmitted over an SSL encrypted connection. The following limits apply to the backups included with your account: Restoring your account is FREE, but limited to once every 4 months. A fee of $49 will apply for any additional restores. Websites larger than 10GB will not be backed up automatically. Options are available, please contact our Sales Department for current prices.</p>
                                </div>
                            </th>
                            <td>Weekly</td>
                            <td>INCLUDED</td>
                            <td>INCLUDED</td>
                            <td>INCLUDED</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme6">Free Google AdWords Credits</button>
                                <div id="showme6" class="collapse">
                                    <p>Use Google AdWords to drive quality traffic to your website and grow your business. See how quickly and easily you can attract new customers – as a InMotion Hosting customer, we offer you a $100 credit to start advertising on Google when you spend $25.</p>
                                </div>
                            </th>
                            <td>Drive traffic with Ads</td>
                            <td>$75</td>
                            <td>$100</td>
                            <td>$100</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme7">Disk Space (GB)</button>
                                <div id="showme7" class="collapse">
                                    <p>Our Award Winning Business Class Web Hosting packages offer an unlimited amount of disk space on which to store your website. There are many factors you should be considering when choosing a web hosting company and we feel that disk space limitations shouldn't be one. Instead of worrying about limiting your megabytes &amp; gigabytes, we focus on the issues that really matter to business owners, namely, our exceptional Customer Support &amp; Quality of Service.Certain restrictions apply, see <a href="#">Terms of Service</a> for details.</p>
                                </div>
                            </th>
                            <td>All expandable</td>
                            <td>UNLIMITED</td>
                            <td>UNLIMITED</td>
                            <td>UNLIMITED</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme8">Monthly Transfer Included (GB)</button>
                                <div id="showme8" class="collapse">
                                    <p>InMotion Hosting allows an unlimited amount of Data Transfer per month on all of our Business Class Web Hosting accounts. Much like arbitrary disk space limitations, we'd rather focus on the key aspects that help Small &amp; Medium Businesses maintain a successful online presence. This is why every Business Class Web Hosting account includes powerful features such as our Premium Website Builder, regular data backups &amp; a full list of added features; all backed by our Award Winning World Class Support.Certain restrictions apply, see Terms of Service for details.<a href="#">Terms of Service</a> for details.</p>
                                </div>
                            </th>
                            <td>Industry-Leading</td>
                            <td>UNLIMITED</td>
                            <td>UNLIMITED</td>
                            <td>UNLIMITED</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme9">SPAM Safe Email</button>
                                <div id="showme9" class="collapse">
                                    <p>Real Time Spam Filtering is an absolute necessity for individuals and businesses. It saves time and money by letting your employees or yourself focus on real email instead of sifting through junk mail. Our system monitors a very large portion of the Internet's email traffic to target sources of spam and tag that spam if it comes into our network. It is ready to go out of the box, but is also configurable by you if needed.</p>
                                </div>
                            </th>
                            <td>With Real-time Filtering</td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Max Speed Zone Enabled</th>
                            <td><a href="#">Find My Zone</a></td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="btn-link" data-toggle="collapse" data-target="#showme10">Premium Website Builder</button>
                                <div id="showme10" class="collapse">
                                    <p>Our Premium Website Builder offers one of the easiest and most full-featured ways to get your website online. Using this latest, best-in-industry web builder allows you to choose from over 200 stunning premium website templates, customize your website's logo, images &amp; color scheme. You can also use it to incorporate message boards, blogs, photo galleries &amp; Flash intros! </p><p>Power &amp; Pro Web Hosting packages also have the option to create an online store directly from the builder. Easily set up your store to accept payments from your 3rd party merchant account, calculate shipping &amp; even track inventory! With InMotion Hosting's Premium Website Builder there's no need to install additional scripts or databases to get your online store up and running.</p><p>Each Business Class Web Hosting account includes a single Premium Web Builder license enabling you to create &amp; publish (1) premium website. Additional licenses are available for a nominal monthly fee. Please ask your sales representative for details. Depending on your preferences, other options exist to publish your website, please contact Sales for options.</p>
                                </div>
                            </th>
                            <td><a href="#">Launch Builder</a></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                            <td><span class="ir ideal">Ideal</span></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-info">View More Specs</a>
            </div><!-- /#specifications -->
        </div>
        <!--  end span8  -->
    {% endblock %}
{% endblock %}
