{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Best Joomla Hosting Providers{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Features offered by the Best Joomla hosting Companies</h1>
    </div>
    <div class="span3">
        <p>What you should expect from the best Joomla Hosting in 2012</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>There are many websites online that rank the <a href="/joomla-hosting/best-joomla-hosting">best joomla hosting providers</a>. If you carefully review these review sites themselves, you'll see that there are certain features that stand out which makes it easier for you to find your next Joomla hosting provider.</p>
        <h2>Disk Space</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-hard-drive.png" class="sales-page-left-float" alt="" /><p>The best <a href="/joomla-hosting/joomla-hosting-service">joomla hosting service</a> will offer plenty of disk space for your website. It is this disk space that your website files are saved to and is also where your database lives. InMotion Hosting's Shared hosting plans offer unlimited disk space, allowing you to focus on your website rather than your web hosting account.</p>
        <h2>Traffic / Bandwidth</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-bandwidth.png" class="sales-page-left-float" alt="joomla bandwidth image" /><p>Lots of bandwidth needs to be offered by the best joomla hosting companies. It's this bandwidth that delivers your website to your visitors. Run out of bandwidth and your website runs out of gas, it's not going anywhere! Again, we know you need to focus on your website and not waste time worrying about anything else. All shared hosting accounts through InMotion Hosting offer unlimited bandwidth, allowing your site to get the traffic you're working so hard for it to attract.</p>
        <h2>Money Back Guarantee</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/money-back-guarantee.png" class="sales-page-left-float" alt="money back image" /><p>When you've done your research, you'll learn that most hosting providers offer only 30 day and 45 day money back guarantees. The best joomla hosting of 2012 needs to offer more, and InMotion Hosting does. We guarantee your satisfaction, and we offer a 90 Day Money Back Guarantee!</p>
        <h2>Easy Installation</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/easy-joomla-install.png" class="sales-page-left-float" alt="easy joomla installation image" /><p>Installing Joomla on a web hosting account is not like installing software on your desktop or laptop computer. For most of us, we're accustomed to double clicking an icon and watching a program install by itself. Joomla is driven by PHP &amp; MySQL, which means that you'll be uploading files, creating a database, and setting up a configuration file. The best Joomla hosting sites need to make it easier to install Joomla! InMotion Hosting offers Fantastico, a one click installation tool, that can install Joomla all by itself.</p>
        <h2>Free Domain Names</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/domain-name.png" class="sales-page-left-float" alt="domain name" /><p>You need to have a domain name, period. If someone can't type in YourDomain.com, how are they going to visit your website? The best Joomla hosting providers will make it easy for you to get a domain name setup with your account. When you sign up for a Joomla hosting account through InMotion Hosting, we'll ask you what you'd like your domain name to be. We'll register the domain name for you and setup your account for it, and best of all, your first domain name will be free!</p>
        <h2>Backups</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/website-backups.png" class="sales-page-left-float" alt="website backups" /><p>Website backups are insurance for your website. If anything goes wrong, having a copy of your website will allow you to restore it as if nothing ever happened! We not only maintain our own backup of your account, we make it easy for you to generate your own backups! Generate a backup, download it to your desktop, and rest assured you're in the clear if anything ever happens to your website!</p>
        <h2>Joomla Support</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-technical-support.png" class="sales-page-left-float" alt="joomla technical support" /><p>Our online Support Center is driven by Joomla, and we have over 100 Joomla tutorials on everything from installing Joomla to writing your own plugins! We know Joomla, and it's important when you need help to have a team so experienced on your back. Our Support Department is available 24 hours a day, 7 days a week, 365 days a year. If we can help, just let us know.</p>
        <p><a href="/joomla-hosting">Click here</a> to learn more about our Joomla hosting plans. Our Shared Hosting packages are great for Joomla sites just getting started and general websites. If your website is as busy as a shopping mall, check out our VPS Hosting and Fully Dedicated servers.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
