{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Cheap Joomla Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Cheap Joomla Hosting</h1>
    </div>
    <div class="span3">
        <p>Why is Cheap Joomla Web Hosting so Cheap?</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Cheap Joomla Hosting is very easy to find. Simply search the web for cheap joomla hosting and you'll find page after page of the cheapest Joomla hosting available. If this is what you're looking for consider yourself very lucky, because you're going to do this search very often and it will be easy. Like a cheap toy from the dollar store however, it's going to break, and you'll be back again and again.</p>
        <h2>The Cheap Joomla Web Hosting Cycle:</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/the-cheap-joomla-hosting-cycle.png" class="sales-page-right-float" alt="joomla hosting cycle image" />
        <ol>
            <li>Search for Cheap Joomla Hosting</li>
            <li>Buy hosting based only on price</li>
            <li>Learn your cheap joomla webhosting is just that, cheap</li>
            <li>Leave your hosting company after finally having enough of their poor service.</li>
        </ol>
        <p>In order to cut costs, hosting providers cut corners. They build cheap servers with unreliable parts, maintain a low volume of technical support representatives, and have to focus more on their marketing strategies rather than Customer Satisfaction.</p>
        <p>Let's start this hypothetical story off with you finding cheap joomla webhosting. You pay your $1 / month hosting fee, and then you begin migrating your Joomla website from your previous host.</p>
        <h2>You'll regret your Cheap host's Technical Support Staff</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-technical-support.png" class="sales-page-left-float" alt="joomla technical support image" /><p>You've just finished migrating your database and files to your new cheap server. When you go to test your website, it is filled with database errors. You're not a PHP developer and you have no idea how to fix the problem. You pick up your phone to call your host, only to realize they don't offer phone support!</p>
        <p>So your Cheap Joomla Web Hosting Provider offers Phone Support? This is what you can expect:</p>
        <li>Expect waiting 45 minutes before they answer the phone</li>
        <li>Look forward to long hold times (we hope you like the hold music!)</li>
        <li>No support at all due to the dreaded "It's your code so it's your problem." statement</li>
        <p>What do you do now? You can scour the internet looking for answers. You can hire a Joomla expert at $100 an hour. Whatever it is you choose, your cheap Joomla hosting solution has only just begun to take more time and money from you.</p>
        <p>We know this for a fact because we've heard it first hand from our customers. After we've "Wowed!" them with excellent support, many users tell us about horrible experiences they've had with other Support Departments in the past. Our Support Team here at InMotion Hosting picks up your phone call on average within two minutes. We're very knowledgeable about Joomla server configurations because we've helped troubleshoot them for years, we know <a href="/joomla-hosting">Joomla Hosting</a>.</p>
        <table class="table longtail">
            <thead>
                <tr>
                    <th>
                        <p>Cheap Hosting</p>
                    </th>
                    <th>
                        <p>Average Hosting</p>
                    </th>
                    <th>
                        <p>Quality Hosting</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <li>No Phone Support</li>
                        <li>Email Support with 5 day response times</li>
                        <li>No Live Chat</li>
                    </td>
                    <td>
                        <li>Phone Support only during business hours</li>
                        <li>Email Support with 2 day response times</li>
                        <li>Live Chat during "normal" business hours</li>
                    </td>
                    <td>
                        <li>24/7/365 Phone Support with response times under 2 minutes!</li>
                        <li>24/7/365 Email Support</li>
                        <li>24/7/365 Live Chat Support</li>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Your Host's Cheap hardware will fail on you</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-hard-drive.png" class="sales-page-left-float" alt="joomla hard drive image" /><p>After much frustration with simply getting your Joomla website up and running on your new cheap Joomla host, you're heart will sink when you find your website is down again for hours just a short time later. When the dust settles, you find that the bargain hard drive your host is running in their server had failed.</p>
        <p>Our expert staff at InMotion Hosting builds exceptional servers of the highest quality. From our industry tested hard drives to our carefully chosen RAM, quality and reliability is our ultimate goal. This is evident by our servers' proven history of 99.9% uptime.</p>
        <h2>Your Cheap Joomla Webhosting will make you feel Cheated</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/bad-joomla-hosting.png" class="sales-page-left-float" alt="bad joomla hosting image" /><p>In the end, you'll have learned why your cheap Joomla hosting is cheap. It just plain sucks. Your host has delivered what they promised, and you are stuck. But are you really stuck? You're not, you can leave your current host and migrate your website once again. Find a hosting provider that cares about quality, and save yourself from that feeling of regret.</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/good-joomla-hosting.png" class="sales-page-left-float" alt="good joomla hosting" /><p>InMotion Hosting has been hosting websites since 2001. We've know that web hosting providers are a dime a dozen, and that to win over clients you have to focus on Customer Service. One of our top priorities is Customer Satisfaction and it shows. We truly understand that if you're not happy with your hosting, you have other options, and we've built our organization focusing on the customer. Our System Administration Staff has years of experience building rock solid servers that perform, and our dedicated Support Team has the knowledge to assist you with any questions you may have.</p>
        <p>A cheap host is not always the <a href="/joomla-hosting/best-joomla-hosting">best joomla host</a>. Even if you do decide to look for cheap joomla hosting and focus on price, we want you to know we're here for you. When you've had enough of your cheap host and their poor services, <a href="/joomla-hosting/buy-joomla-hosting">sign up with InMotion Hosting</a> and give us the opportunity to show you how Joomla web hosting should be done. If you're just getting started with your Joomla website, you can begin with our business class hosting plans. If you require a more robust platform, upgrade to a <a href="/vps-hosting">Virtual Private Server</a> or a <a href="/dedicated-servers">Dedicated Server</a> at any time.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
