{% extends 'longtail-joomla.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}Fast Joomla Hosting{% endblock %}

{# keywords #}
{% block keywords %}{% endblock %}

{# description #}
{% block description %}{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Fast Joomla Hosting</h1>
    </div>
    <div class="span3">
        <p>How to find the Fastest Joomla Hosting?</p>
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Fast Joomla Hosting is a combination of high quality server components combined with optimum server configurations. You might not notice when a site loads quickly, but you will notice when a website loads slowly, and so will your visitors. As internet connection speeds have increased over the years, so has the expectation for websites to load quickly. You're in a hurry looking for information, you click on a promising link in Google, and if that page takes more than a few seconds to load you're back to browsing the other search results.</p>
        <p>Don't lose valuable traffic because of a slow webpage! Make sure your <a href="/joomla-hosting">Joomla hosting</a> is optimized just right, just like a finely tuned automobile.</p>
        <h2>Faster HardDrives</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-hard-drive.png" class="sales-page-left-float" alt="joomla hard drive" /><p>InMotion Hosting servers are built with 15K SAS Harddrives, which will drive your Joomla website up to 20% faster than other hosts! If you're wondering what a 15K SAS Harddrive is, let us explain. The faster a harddrive can spin, the faster data can be read and the faster your webpages will load. The 15K in 15K SAS HardDrives represents the 15,000 RPMs our drives perform at. The leading harddrives run at 15K RPM. That's exactly what we feature in our hosting servers, and it's one of the contributing factors to our fast joomla hosting.</p>
        <h2>More RAM</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/fast-joomla-ram.png" class="sales-page-left-float" alt="joomla ram image" /><p>Imagine 10 people in line at a fast food restaurant, and all at once they give their order to the cashier. With all the commotion going on, that cashier (if lucky) will remember maybe 1 or 2 orders, and they'll have to ask everyone several more times before they can get all of the orders. While cashiers aren't subject to this type of order taking in real life, web servers are! A fast web server is able to handle the stress of receiving multiple requests all the time for web pages.</p>
        <p>A server's RAM can be thought of as its short term memory. Servers loaded with tons of RAM can handle more work and complete it in a shorter amount of time. In the case of users visiting your webpages, this equates to a quick thinking machine easily handling simultaneous requests for your website! A focus on exceeding RAM requirements helps InMotion Hosting bring you the fastest joomla hosting. Our latest servers are boasting 96GB of RAM! To put things in perspective, if you're running a high end computer right now, it's only going to have more along the lines of 4GB or 8GB of RAM.</p>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/tons-of-joomla-ram.gif" class="sales-page-left-float" alt="tons of joomla ram image" />
        <p><em>To put things in perspective, this graph shows the 96GB of RAM packed into InMotion Hosting's servers, compared to the the amounts included in popular high end desktop and laptop models from Apple (8GB) and Dell (12GB).</em></p>
        <h2>Optimized Database Setup</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-database.png" class="sales-page-left-float" alt="joomla database image" /><p>A Joomla site stores most of its content in a database. This means that when visitors land on your website, Joomla has to read the database and retrieve the article they're looking for. Running an online store in Joomla? All of those products are stored in the database. Notice how Joomla keeps track of the number of hits to each of your articles? Yeap, that's stored there too. With so much interaction between Joomla and your database, speed up those interactions and you will speed up your website!</p>
        <h3>Localhost Database Setup:</h3>
        <p>Because our servers use the fastest harddrives around and are packed with an excess of RAM, we can run databases on the same machine as the web server. This prevents having two separate machines, one for website files and the other for databases. When you run everything off one server, you eliminate the need for the two different servers to speak with each other and therefore increase the time your Joomla site loads!</p>
        <h3>MySQL Query Caching:</h3>
        <p>Imagine if you were given pencil and paper and asked to solve this math problem: 23 + (4 * 98) / (4 / 1.5). If your math was right, you would have discovered the answer to be 170.03. Let's say it took 2 minutes for you to do the math. Imagine again that someone erased your work and asked you to figure out the problem again. Would it take another 2 minutes, maybe 1 minute? Because you already found the answer, why not remember the answer and spend 2 seconds to give it instead of 2 minutes! Your MySQL database server works in a similar manner, and is capable of performing 100's of these operations every second. We've configured our database servers to "remember" all of the questions it's asked, and therefore can give your Joomla website the information it needs in a fraction of a second!</p>
        <h2>Ideal Server Location</h2>
        <img src="{{ app.request.basepath }}/img/joomla-hosting/joomla-max-speed-zone.gif" class="sales-page-left-float" alt="max speed zone image joomla" /><p>If you worked in Virginia, would you buy a house in New York? For most of us, absolutely not! If most of your website visitors are going to be from the United States, don't send them to a server half way around the world to access your website! InMotion Hosting offers <a href="/fast-web-hosting">p</a>>servers in both the East Coast and West Coast</p>. We give you the option to choose the server closest to your location. Decreasing the distance between you and your Joomla web hosting will help give you the fastest joomla hosting.</p>
        <p>If you require fast Joomla hosting, take a look at our business class hosting plans. If you need a really fast server, separate yourself from the crowd by taking a step up to our <a href="/vps-hosting">VPS Hosting</a> and <a href="/dedicated-servers">Dedicated Server</a> plans.</p>
    </div>
    <!--  end span8  -->
{% endblock %}
