{% extends 'longtail-cpanel.html.twig' %}
{% set active = 'site_hosting_tools' %}

{# title #}
{% block title %}cPanel VPS Optimized{% endblock %}

{# keywords #}
{% block keywords %}cpanel vps optimized, vps with cpanel hosting, vps cpanel host{% endblock %}

{# description #}
{% block description %}Software specifically designed to work with a VPS, cPanel VPS Optimized provides better performance without a loss in functionality.{% endblock %}

{# opening #}
{% block opening %}
    <div class="span9">
        <h1>Host with cPanel</h1>
    </div>
    <div class="span3">
        <p>Hosting Has Never Been Easier</p>
    </div>
{% endblock %}

{% block container %}
    {% block left_column %}
        <div class="span8">
            <h2>The cPanel Web Host Experts</h2>
            <p>cPanel hosting with InMotion makes managing your server easier than ever. Whether you have a shared, VPS, dedicated hosting, or are a hosting reseller, you can take advantage of all the features cPanel has to offer. From creating email and FTP accounts, to easily installing software packages through Softaculous. InMotion gives you this functionality at no extra cost!</p>
            <p>Check out some features below to see how hosting with cPanel benefits you:</p>
            <h4 class="features-collapse">Features</h4>
            <!--  collapse table  -->
            <div class="row longtail-features">
                <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/advanced-features.jpg" alt="cpanel advanced features icon" />
                        <div class="media-body raised">
                            <p>Advanced Features</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Advanced cPanel features lets you do more. Control your MX entries, manage domains, check your server status, or set CRON jobs. cPanel gives you added control of what you can do with your VPS or dedicated server.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/website-statistics.jpg" alt="cpanel website statistics icon" />
                        <div class="media-body raised">
                            <p>Website Statistics</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Track your website statistics. You can utilize cPanel's robust website statistic tool AWStats to see how your website is performing. See the number of visitors you are getting, where they are coming from, how long they are staying, and which pages are getting the most hits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row longtail-features">
                <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/security.jpg" alt="cpanel security icon" />
                        <div class="media-body raised">
                            <p>Security</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Secure your server through with cPanel tools. cPanel gives you the option to protect your server by keeping unwanted access out. With cPanel, you can block a single, or an entire range of IP addresses, manage SSL/TLS keys, connect to your server remotely through SSH, and more!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/ftp-features.jpg" alt="cpanel ftp features icon" />
                        <div class="media-body raised">
                            <p>Advanced FTP Features</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Manage your files easily. You can use cPanel's internal File Manager. Or you can setup FTP accounts so that you can easily use third party FTP programs to easily manage your server files.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row longtail-features">
                <div class="container">
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/email-administration.jpg" alt="email administration icon" />
                        <div class="media-body raised">
                            <p>Email Administration</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Keep your business communications professional. Create email accounts with your domain as the address. With cPanel you can create multiple email addresses, setup email forwarding, access webmail, and get information on how to setup email on popular programs such as Outlook and Thunderbird.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-column">
                        <img class="sales-page-left-float" src="{{ app.request.basepath }}/img/cpanel-hosting/database-administration.jpg" alt="database administration icon" />
                        <div class="media-body raised">
                            <p>Database Administration</p>
                            <div id="demo" class="collapse" data-parent="menu">
                                <p>Build applications or install multiple platforms with ease. Creating, managing, or deleting databases through cPanel gives you the control you need to run the latest software. Installing CMS platforms such as Wordpress, Joomla, or Prestashop is made easy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-class">
                <button type="button" class="btn btn-longtail" data-toggle="collapse" data-target="#demo, #demo2" data-parent="#menu">
                  View Details
                </button>
            </div>
            <!--  end collapse table  -->
            <h2>Backing Up &amp; Transferring Hosts Made Easy</h2>
            <p>Create backups of entire directories, MySQL databases, email filters with ease. cPanel makes it easy for site owners to schedule backups of their files to ensure they have a copy of their critical information at all times. Site owners can even upload these files to a different hosting company and seamlessly switch hosting companies with little to no downtime. Read more about <a href="/cpanel-hosting/cpanel-backup-feature">cPanel Backups</a>.</p>

            <h2>A Robust Server Management Tool...For Free!</h2>
            <img src="{{ app.request.basepath }}/img/cpanel-hosting/icon-group-features.jpg" alt="cpanel features icons" />
            <p>Other companies charge for use of cPanel. InMotion does not. We provide cPanel for all of our customers regardless of hosting plans and packages. This means you can manage your server how you want, when you want. <a href="/cpanel-hosting/free-cpanel-hosting">Click here</a> to read more.</p>
        </div>
        <!--  end span8  -->
    {% endblock %}
{% endblock %}