{% extends 'longtail-dedi.html.twig' %}

{# title #}
{% block title %}Buy a Dedicated Server{% endblock %}

{# keywords #}
{% block keywords %}buy dedicated server, buy dedicated hosting{% endblock %}

{# description #}
{% block description %}Buy a dedicated hosting plan today. InMotion Hosting has the reliability and award winning support you need.{% endblock %}

{# intro #}
{% block intro %}
    <div class="span9">
        <h1>Buy a Dedicated Hosting Plan Today!</h1>
    </div>
    <div class="span3">
    </div>
{% endblock %}

{# left column #}
{% block left_column %}
    <div class="span8">
        <p>Buying your own server can be daunting. With so much information and specs to worry about, it's hard to find the information you need to make the right decision about what you really need.</p>
        <p>There are many reasons to purchase a dedicated server. From upgrading from a VPS plan because your website has outgrown those specs, to developing a successful application. Let InMotion take care of your hosting needs.</p>
        <p>Our team of experts are available around-the-clock and has the expertise to assist you with troubleshooting issues related to your website.</p>
        <h2>Some Features That InMotion Has to Offer</h2>
        <!-- package checklist -->
        <p>We give you the tools necessary to <a href="/dedicated_servers/articles/best-dedicated-server">keep you online</a>. Each of our dedicated server plans comes with features that enable you to keep your website or application running.</p>
         <div class="row longtail-features">
            <div class="container">
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-search.png" alt="icon search magnifying glass" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>Firewall Protection</h3>
                        <p>Protecting your information should be a top priority. That's why we have a firewall protection that allows you to block specific IP's and IP ranges, set policies so that only certain levels of authorization can gain access to your site and information.</p>
                    </div>
                </div>
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-php.png" alt="suPHP logo" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>SuPHP</h3>
                        <p>All of our dedicated servers utilize suPHP so that you can fully utilize the latest software platforms such as Drupal, Joomla and Wordpress.</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="row longtail-features">
            <div class="container">
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-mysql.jpg" alt="MySQL logo" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>MySQL</h3>
                        <p>If you will be installing or writing programs that require a database, then having a set number of MySQL databases can be detrimental to your work. At InMotion, you have an unlimited number of MySQL databases to use.</p>
                    </div>
                </div>
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-hardware.png" alt="hardware server icon" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>Connectivity</h3>
                        <p>Our datacenter is connected 3 internet service providers. If one goes down, another is ready to kick in so that your website or application stays running.</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="row longtail-features">
            <div class="container">
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-wave.png" alt="wave icon" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>Hardware Reliability</h3>
                        <p>We use only Dell hardware that has been built and tested at the Dell factory being shipped to us. Our goal is to minimize any downtime to your site, and having reliable hardware is just one of those ways we do this.</p>
                    </div>
                </div>
                <div class="feature-column">
                    <img src="{{ app.request.basepath }}/img/dedicated-hosting/icon-reliability.png" alt="RAID disk icon" class="sales-page-left-float" />
                    <div class="media-body raised">
                        <h3>RAID for redundancy and performance</h3>
                        <p>Do they offer RAID? If so, what kind? RAID can be good if you have large amounts of data as it can be retrieved faster than a non-RAID machine. Also, a copy is made of your data on two separate drives which decreases the chance lost data due to disk failure.</p>
                    </div>
                </div>
            </div>
        </div>
            <h3>Free CMS Platforms!</h3>
            <p>If you plan on using a free open source CMS platform, rest assured that our dedicated servers can handle these installations as well as the plugins you might want to install with each.</p>
        <table class="table longtail">
            <tr>
                <th>Joomla</th>
                <th>Drupal</th>
                <th>Wordpress</th>
            </tr>
            <tr>
                <td><img src="{{ app.request.basepath }}/img/dedicated-hosting/logo_joomla.png" alt="Joomla logo" class="longtail-center" /></td>
                <td><img src="{{ app.request.basepath }}/img/dedicated-hosting/logo_drupal.png" alt="Drupal logo" class="longtail-center" /></td>
                <td><img src="{{ app.request.basepath }}/img/dedicated-hosting/logo_wordpress.png" alt="Wordpress logo" class="longtail-center" /></td>
            </tr>
            <tr>
                <td>
                    <p>Simple one click install will get your Joomla site up and running in no time. Built for small to medium size websites, it is a good scalable solution. With fast hard drives, CPU and RAM for fast access to your information, Joomla is a good choice to run your website.</p>
                </td>
                <td>
                    <p>Drupal is for the developer or development team looking for a web solution for an enterprise level site. Our fast hard drives, threaded multi-core processors and RAM will run your Drupal install with the performance and efficiency you expect.</p>
                </td>
                <td>
                    <p>If you are looking for a blogging platform or an easy solution for your website, then Wordpress is for you. Easy to install and use plugins enhances funtionality while giving your website a professional look and feel.</p>
                </td>
            </tr>
        </table>
        <h2>Reseller Features</h2>
        <p>We also include free software to allowing you to become a dedicated server reseller. Web Hosting Manager allows you to manage accounts. Then use cPanel to have your customers manage themselves. This is a $425 a year value!</p>
        <p><a href="/dedicated_servers/articles/dedicated-server-reseller">Click here</a> to learn more.</p>
        <h2>Bottom Line</h2>
        <p>So which package is right for you? Well that depends on how much traffic, what kind of application you are building, which CMS you end up using, and what you can <a href="/dedicated_servers/articles/affordable-dedicated-servers" >afford</a> to pay. What it comes down to is how much resources do you need? To get that information, it would be best to give us a call today to see package is right for you.<br /><strong>(888) 321-4678</strong></p>
    </div>
    <!--  end span8  -->
{% endblock %}
